<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <style>
        body{
            background: #e9e9e9;

        }
        #calculator{
            display: flex;
            flex-flow: row wrap;
            width: 150px;
            overflow: hidden;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            const calculator = new Vue({
                el:"#calculator",
                data:{
                    showAnswer:true,
                    res:"",
                    numA:"",
                    numB:""
                }
            })
        });
    </script>
</head>

<body>
<div id="calculator">
    <input v-model="numA" type="text">
    <button @click="res=numA*1+numB*1" >+</button>
    <button @click="res=numA-numB">-</button>
    <button @click="res=numA*numB" >*</button>
    <button @click="res=numA/numB">/</button>
    <input v-model="numB" type="text">
    <div v-if="showAnswer">{{res}}</div>
</div>


</body>
</html>