<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>calculator</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

    <style>
        body{
            background: #e9e9e9;

        }
        #calculator{
            display: flex;
            flex-flow: row wrap;
            width: 150px;
            overflow: hidden;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            const calculator = new Vue({
                el:"#calculator",
                data:{
                    showAnswer:true,
                    res:"",
                    numA:"",
                    numB:""
                },
                methods:{
                    addition:function (){this.res= this.numA*1+ this.numB*1},
                    subtraction:function(){this.res= this.numA - this.numB},
                    multiplication:function(){this.res= this.numA * this.numB},
                    division:function () {this.res= this.numA / this.numB}
                }
            })
        });
    </script>
</head>

<body>
<div id="calculator">
    <input v-model="numA" type="text">
    <button @click="addition()">+</button>
    <button @click="subtraction()">-</button>
    <button @click="multiplication()" >*</button>
    <button @click="division()">/</button>
    <input v-model="numB" type="text">
    <div v-if="showAnswer">{{res}}</div>
</div>


</body>
</html>